<!DOCTYPE html>
<html class="[scrollbar-gutter:stable] min-h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Momentum" %>
    </.live_title>
    <script src="https://telegram.org/js/telegram-web-app.js?v=1">
    </script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased min-h-full">
    <div>
      <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <%= @inner_content %>
          <!-- Your content -->
        </div>
      </main>
    </div>
  </body>
</html>
