@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */


.speedometr {
  position: relative;
  height: 100px;
  width: 200px;
}

.speedometr .scale {
  position: absolute;
  border: 3px solid red;
  width: 65px;
  height: 15px;
  border-radius: 100% 100% 0 0;
  border-bottom: none;
}

.speedometr .scale.low {
  top: 10px;
  left: -30px;
  border-color: #e74c3c;
  transform: rotate(-50deg);
  transform-origin: top right;
}

.speedometr .scale.middle {
  left: calc(50% - 37px);
  border-color: #f1c40f;
}

.speedometr .scale.hight {
  top: 10px;
  right: -30px;
  transform: rotate(50deg);
  transform-origin: top left;
  border-color: #2ecc71;
}

.speedometr .arrow {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -1px;
  width: 1px;
  height: 66px;
  border: 1px solid;
  border-color: #2c3e50;
  border-radius: 100% 100% 0 0;
  background-color: black;
  /* transform: rotate(-75deg); */
  transform-origin: bottom center;
  transition: transform 0.8s;
  transition-timing-function: cubic-bezier(0.65, 1.95, 0.03, 0.32);
}

.speedometr .arrow:after {
  content: '';
  display: block;
  height: 14px;
  width: 14px;
  background-color: #2c3e50;
  border-radius: 100%;
  position: absolute;
  bottom: -1px;
  left: -6px;
}
